.Navbar{
    background-color: rgb(214, 239, 239);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-wrap: wrap;
}
.nav-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 30px;
}
.nav-2{
    color: black;

}
.nav-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}