$bgcolor: rgba(0,0,0,0.8);
$color: white;

@mixin inputstyle{
    padding: 10px;
    margin: 10px;
    text-align: center;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid red;
    color: $color;
}

.App{
    background: url("https://cdn.pixabay.com/photo/2023/06/18/12/17/meadow-8071932_640.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        background: $bgcolor;
        color: $color;
        width: 300px;
        height: auto;
        text-align: center;
    }

    input{
        @include inputstyle()
    }

    button{
        background: orange;
        padding: 10px;
        width: 150px;
        border: 1px solid orange;
        margin: 10px;
        &:hover{
            background: none;
            color: white;
        }
    }
}