.sec{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    width: 300px;
    justify-content: space-around;
    display: flex;
    text-align: center;
}
.Home{
    background: cornsilk;

}