.Navart{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.Navart input{
    border: none;
    text-decoration: none;
    border-bottom: 1px solid red;
    box-sizing: none;
    background: transparent;
    color: white;
    outline: none;

}