.Navbar{
    height: 40px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-around;
   
}
.Header{
    height: 170vh;
    width: 100%;
    background: url("./Image/Myphoto.jpeg");
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    color: white;
    text-align: center;
    justify-content: center;
    background-color:black;
     padding-top: 20px;
}
button{
    background-color: gray;
    border: 1px solid white;
    color: white;
    height: 35px;
    width: 20%;
    border-radius: 10px;
}
.header,h1{
    color: skyblue;
}
.header,h3{
    color: orangered;
}
.App{
    height: auto;
    width: 100%;
    background-color: black;
}
.Ab{
    background-color: white;
    width: 100%;
    text-align: justify;
    text-align: center;
}
.About {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: white;
    width: 100%;
    gap: 60px;
   text-align: center;
   
}
.End{
    background-color:black;
    height: 500px;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 30px;
}
.End2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
.End3,.End4{
    height: 40px;
    width: 30%;
    background-color: gray;
    color: white;
   
}
.Navbar_div1{
    color: #f6ff00;
}
.Web{
    height: 100px;
    width: 100%;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Web1{
    width: 20%;
}
.Web2{
    width: 60%;
}
 .Web3{
    width: 20%;
    gap: 30px;
 }