table{
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    
}

table, thead, td {
    border: 1px solid #ddd; 
    padding: 8px; 
  }

  tr {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  td {
    padding: 8px;
    text-align: left;
    border-top: none;
  }
  
  td img {
    max-width: 50px;
    height: auto;
  }


@media screen and (max-width: 768px) {
    table {
        margin-top: 50px;
      overflow-x: auto;
    }
  
    th,
    td {
      
      min-width: 100px; 
  }

  .navbar{
    flex-wrap: wrap;

  }
}