Carousel{
    height: 60vh;
    width: 80%;
    background: black;
} 

.sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.artc{
  background: url("https://www.shutterstock.com/image-vector/shopping-paper-bag-yellow-empty-260nw-1704993016.jpg");
  height: 70vh;
  width: 100%;
  margin-top: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bt1{
  background: transparent;
  font-size: larger;
  font-weight: bolder;
}