.Header{
    color: black;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: azure;
    border-bottom: 1px solid black;
 }  
.header_left{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 30px;
}
.header_right{
    padding-right: 10px;
    display: flex;
    justify-content:space-between;
    text-align: right;
    gap: 30px;
}